body {
    font-family: 'Arial Narrow';
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
}

.page-heading {
    margin: 7vh 0;
    transform: skewY(-5deg);
    text-align: center;
    color: rgba(255,255,255,0.5);
    text-shadow: 3px 3px rgb(255 31 220 / 50%);
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem 2rem;
}