body {
    font-family: 'Arial Narrow';
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
}

.page-heading {
    margin: 1vh 0;
    transform: skewY(-5deg);
    font-size: 2vh;
    text-align: center;
    color: rgba(255,255,255,0.5);
    text-shadow: .4vh .4vh rgb(255 31 220 / 50%);
    background: rgba(255, 255, 255, 0.1);
    padding: .5vh 1vh;
}